{% extends 'base.html' %}
{% load static %}

{% block description %} {{ title }} {% endblock %}
{% block title %} {{ object.title }} :: {{ block.super}} {% endblock %}

{% block content %}

<div class="row g-5">
    <div class="col-md-12">
        <h3 class="pb-4 mb-4 fst-italic ">
            Результат поиска: <span class="fw-light">{{ search }}</span>
        </h3>

        {% for disease in object_list %}
        <div class="border-top">
            <article class="blog-post py-2">
                <h3 class="blog-post-title mb-1"><a class="link link-dark text-decoration-none"
                                                    href="{{ disease.get_absolute_url }}">{{ disease.title }}</a></h3>
                {{ disease.description|truncatewords_html:50|safe}}
                <a href="{{ disease.get_absolute_url }}" class="link link-secondary ">Читать...</a>
            </article>
        </div>
        {% empty %}
        <p>По вашему запросу << <span class="fst-italic">{{ search }}</span> >> ничего не найдено</p>
        {% endfor %}


    </div>


</div>

{% endblock %}